* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style pour la page de connexion */
/* Style pour la page de connexion */
#login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-container {
  position: relative;
  /*padding: 0 20px;*/
}

#password {
  padding: 12px;
  width: calc(100% - 50px);
  margin-bottom: 20px;
  width: 200px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

#toggle-password {
  position: absolute;
  top: calc(50% - 1.2em); /* Ajustement de la position verticale */
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#login-button {
  padding: 12px 20px;
  border: none; /* Supprime la bordure */
  outline: none; /* Supprime la bordure de focus */
  cursor: pointer;
  background-color: #007AFF;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

#login-button:hover {
  background-color: #0056B3;
}

.login-body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: white; /* Fond blanc pour la page de connexion */
}


/* Style pour la page de jeu */
.game-body {
  margin: 0;
  height: 100vh;
  position: relative;
  background-image: url('/illustration/arrière\ plan4.png'); /* Chemin vers votre image */
  background-size: cover; /* Pour que l'image couvre toute la fenêtre */
  background-position: center; /* Pour centrer l'image */
}

.case {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
}

#start {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Définir un z-index plus élevé */
}

#end {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#character {
  width: 8%;
  height: 15%;
  background-image: url('Obock3.png'); /* Chemin vers votre image */
  background-size: cover;
  position: absolute;
  left: 50%;
  bottom: 0; /* Ajustement pour laisser de la place aux boutons */
  transform: translateX(-50%);
  z-index: 2; /* Assurer que le personnage est au-dessus de la case de départ */
}

#buttons button {
  background-color: transparent;
  border: 1px solid #007AFF;
  color: #007AFF;
  padding: 1% 2%;
  font-size: 3vw;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  position: absolute;
  top: 2%;
}

#avance {
  left: 1%;
}
#recule {
  left: 8%; /* Positionner le bouton "Recule" à gauche */
}

/* Au survol */
#buttons button:hover {
  background-color: #007AFF;
  color: #FFF;
}

/* Lorsqu'il est pressé */
#buttons button:active {
  background-color: #0056B3;
  border-color: #0056B3;
}
